.full {
	
	background-position: center;
	background-size: cover; 
	color: #9e9e9e;

}

.submit, .startButton, .refresh {
	height: 60px;
	width: 60px;
	margin-left: 375px;
}

.refresh {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 410px;

}

.first {
	background-color: black;
	font-size: 60px;
}

.header {
	background-color:  #66b3ff;
	font-size: 40px;
}

.question {
	font-family: 'Indie Flower', serif;
	font-size: 24px;
	padding: 10px;
	
}

.answers {
	font-family: 'serif', serif;
	font-size: 17px;
	color: #9e9e9e;
	align:center;
}

.answers1 {
	font-family: 'serif', serif;
	font-size: 24px;
	padding: 10px;
	
}

.answers1 {
	font-style: <h4>;
	font-family: 'serif', serif;
	font-size: 24px;
	padding: 10px;
	
}
.invisible {
	display: none;
}

.invisibletwo {
	background-color: white;
}

#counter: {
	font-size: 24px;
	padding-bottom: 10px;
}

.wrapper: {
	background-color: black;
	padding-top: 15px;
}

h1 {
	font-family: 'Indie Flower', serif; 
	text-align: center;
	font-size: 75px;
	padding-top: 10px;
}

.music {
	display: none;
}

.finalmusic {
	display: none;
}


.scoring {
	font-family: 'Indie Flower', serif;
	font-size: 40px;
	text-align: center;
	padding-top: 50px;
}

